.-left {
  align-self: flex-start;
}

.-right {
  align-self: flex-end;
}

.messages {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
}

.container {
  padding: 1.5rem 2rem;
  overflow: scroll;
  height: calc(100vh-72px);
}

footer {
  padding: 16px;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 0;
}

.page {
  height: 100vh;
}

.username {
  color: goldenrod;
}

.message-body {
  word-break: break-all;
}
